.container {
  height: 100%;
  display: grid;
  grid-template: repeat(4, 100px) / 1fr;
  grid-gap: 3px;
  grid-template-areas:
    "h"
    "m"
    "w"
    "f";
}
body {
  margin: 0;
}

.header {
  grid-area: h;
  background-color: red;
  font-size: 16px;
  padding: 4px;
}
.main {
  grid-area: m;
  background-color: yellow;
  font-size: 16px;
  padding: 4px;
}
.widget {
  grid-area: w;
  background-color: green;
  font-size: 16px;
  padding: 4px;
}
.footer {
  grid-area: f;
  background-color: blue;
  font-size: 16px;
  padding: 4px;
}
@media (min-width: 700px) {
  .container {
    grid-template: repeat(10, 10%) / 1fr 2fr;
    grid-gap: 3px;
  }

  .header {
    grid-area: 1/1/9/1;
  }
  .main {
    grid-area: 1/2/9/3;
  }
  .widget {
    grid-area: 6/2/9/3;
  }
  .footer {
    grid-area: 9/2/10/3;
  }
}
